.form-group {
    margin-bottom: 20px; /* Adjust the margin as needed */
    flex-direction: row;
}

.worker-table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}